* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* 기본 PC 폰트 및 레이아웃 설정 */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* 기본 배경 색 */

  width: 100%;
  height: 100%;
} /* body와 #app의 제한 제거 */

#app {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

/* 큰 화면에서는 폰트 크기 확대 */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* 작은 화면에서는 Sidebar 숨김 */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
